body {
    background: #f5f5f4;
    color: #232323;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
  }
  
  code {
    color: #7c094a;
    background: #deedf2;
    padding: 2px 10px;
    border-radius: 10px;
  }
  
  a {
    color: #c0006d;
  }
  a:hover {
    color: #db0000;
  }